In [1]:
# numpy and pandas for data manipulation
import numpy as np
import pandas as pd 

# sklearn preprocessing for dealing with categorical variables
from sklearn.preprocessing import LabelEncoder

# File system manangement
import os

# Suppress warnings 
import warnings
warnings.filterwarnings('ignore')

# matplotlib and seaborn for plotting
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [16]:
df = pd.read_csv("application_train_2.csv", index_col = 0)

In [24]:
corrs = df.corr()

In [25]:
corrs = corrs.sort_values('TARGET', ascending = False)

# Ten most positive correlations
pd.DataFrame(corrs['TARGET'].head(10))

                                                     TARGET
TARGET                                             1.000000
DAYS_EMPLOYED                                      0.068876
REGION_RATING_CLIENT_W_CITY                        0.057385
REGION_RATING_CLIENT                               0.055396
NAME_INCOME_TYPE_Working                           0.055342
CODE_GENDER_M                                      0.051707
DAYS_LAST_PHONE_CHANGE                             0.050749
REG_CITY_NOT_WORK_CITY                             0.049269
DAYS_ID_PUBLISH                                    0.049044
NAME_EDUCATION_TYPE_Secondary / secondary special  0.047189

In [26]:
# Ten most negative correlations
pd.DataFrame(corrs['TARGET'].dropna().tail(10))

                                        TARGET
EMERGENCYSTATE_MODE_No               -0.040096
DAYS_EMPLOYED_ANOM                   -0.045082
ORGANIZATION_TYPE_XNA                -0.045082
NAME_INCOME_TYPE_Pensioner           -0.045097
CODE_GENDER_F                        -0.051697
NAME_EDUCATION_TYPE_Higher education -0.053405
DAYS_BIRTH                           -0.076730
EXT_SOURCE_1                         -0.099040
EXT_SOURCE_2                         -0.153301
EXT_SOURCE_3                         -0.173064

In [27]:
# Set the threshold
threshold = 0.8

# Empty dictionary to hold correlated variables
above_threshold_vars = {}

# For each column, record the variables that are above the threshold
for col in corrs:
    above_threshold_vars[col] = list(corrs.index[corrs[col] > threshold])

In [28]:
# Track columns to remove and columns already examined
cols_to_remove = []
cols_seen = []
cols_to_remove_pair = []

# Iterate through columns and correlated columns
for key, value in above_threshold_vars.items():
    # Keep track of columns already examined
    cols_seen.append(key)
    for x in value:
        if x == key:
            next
        else:
            # Only want to remove one in a pair
            if x not in cols_seen:
                cols_to_remove.append(x)
                cols_to_remove_pair.append(key)
            
cols_to_remove = list(set(cols_to_remove))
print('Number of columns to remove: ', len(cols_to_remove))

Number of columns to remove:  48

In [1]:
df = df.drop(columns = cols_to_remove)
print('Data Corrs Removed Shape: ', data_corrs_removed.shape)

NameError: name 'df' is not defined

In [30]:
#Imputation and normalization
from sklearn.preprocessing import MinMaxScaler, Imputer
features = list(df.columns)
# Mean imputation of missing values
imputer = Imputer(strategy = 'mean')
imputer.fit(df)
df = imputer.transform(df)
df = pd.DataFrame(df, columns=features)

In [31]:
features = list(df.columns)

In [32]:
# Median imputation of missing values
imputer = Imputer(strategy = 'mean')

In [33]:
imputer.fit(df)
df = imputer.transform(df)

In [34]:
df = pd.DataFrame(df, columns=features)

In [35]:
Y = df['TARGET']
X = df.drop(['TARGET'], axis = 1)
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.3, random_state=0)